/*@import url('https://fonts.googleapis.com/css?family=Roboto');*/
@import url('https://fonts.googleapis.com/css?family=Roboto');

body{
	background-color:#28502E;
	margin:0 auto;
	font-family: 'Roboto', sans-serif;
}

*{
	box-sizing: border-box;
	padding:0;
	margin:0;
}

p{
	font-size:16px;
}

h2{
	background-color:#28502E;
	margin:10px 0;
	padding:10px;
}

nav{
	/*background: red;*/
	/*width:50%;*/
	/*height: 50px;*/
	/*margin:0 auto;*/
	border-radius: 0px 0px 10px 10px;
	/*width: 100%;*/
}

nav li{
	float:left;
	width: 33.33%;
	/*border:1px solid red;*/
	/*height:100px;*/
	background:#1B2F33;
	text-align: center;
	padding:10px 10px;
	font-family: Impact;
}

nav ul{
	list-style:none; /*this takes off the bullet points*/
	/*border:1px solid red;*/
	background:#36626b;
	overflow: auto;
	margin:0 auto;
	padding:5px 5px;/*for future reference, a padding of 0 will make the nav bar completely shift to the left side.*/

}

nav a{
	color:#ddf8ff;
	text-decoration: none;
	font-size: 30px;
	transition: .8s;

}

nav a:hover{
	color:#fff;
}

.header{
	background-image: url("../images/forest.jpeg");
	background-size: cover;
	background-position: bottom;
	padding:80px 20px;
	/*width:100vw;
	height: 100vh;*/
}

.header h1{
	color:#ffffff;
	text-align: center;

}

.main-content{
	width:95%;
	padding:20px;
	margin:10px auto;
	border:10px solid #1E2019;
	border-left:none;
	border-right: none;
	background-color: #8DAB7F;
	overflow: auto;
	/*font-family: 'Roboto', sans-serif;*/
}

.side1{
	width:50%;
	float: left;
	background:white;
	overflow: auto;
	border:2px solid black;
	border-left:none;
	border-right: none;
}

.side1 p{
	text-indent: 20px;
}

.side2{
	width:48%;
	background-color:white;
	/*overflow: auto;*/
	float: right;
	border:2px solid black;
	border-left:none;
	border-right:none;
}

.side2 p{
	text-indent:20px;
}

.main-content img{
	/*margin:30px;
	/*padding:20px;*/
	/*width: 50%;
	*/
}


.img-50{
	display: block;
	margin:50px auto;
	width:50%;
	box-shadow: 10px 10px 100px 10px #ddf8ff;
}


.img-40{
	display: block;
	margin:10px auto;
	width: 50%;
}

.forest4{
	/*float:left;*/
	/*width:500px;*/
	/*clear: both;*/
	width:100%;
}

.forest5{
	/*float:left;*/
	/*width:500px;*/
	/*clear: both;*/
	width:99.9%;
	margin:0 auto;
	/*display: block;*/
	/*background-size: stretch;*/
}

/*These are utility classes
=====================================*/
.center-text{
	text-decoration:underline;
	text-align: center;
	color:white;
	/*font-family: sans-serif;*/
	font-family: 'Oswald', sans-serif;
}





