body{
	background-color:#28502E;
	margin:0 auto;
}
*{
	box-sizing: border-box;
	padding:0;
	margin:0;
}

nav{
	/*background: red;*/
	/*width:50%;*/
	/*height: 50px;*/
	/*margin:0 auto;*/
	border-radius: 0px 0px 10px 10px;
	/*width: 100%;*/
}

nav li{
	float:left;
	width: 33.33%;
	/*border:1px solid red;*/
	/*height:100px;*/
	background:#1B2F33;
	text-align: center;
	padding:10px 10px;
	font-family: Impact;
}

nav ul{
	list-style:none; /*this takes off the bullet points*/
	/*border:1px solid red;*/
	background:#36626b;
	overflow: auto;
	margin:0 auto;
	padding:5px 5px;/*for future reference, a padding of 0 will make the nav bar completely shift to the left side.*/

}

nav a{
	color:#ddf8ff;
	text-decoration: none;
	font-size: 30px;
	transition: .8s;

}

nav a:hover{
	color:#fff;
}

.header{
	background-image: url("../images/forest.jpeg");
	background-size: cover;
	background-position: bottom;
	padding:80px 20px;
	/*width:100vw;
	height: 100vh;*/
}

.header h1{
	color:#ffffff;
	text-align: center;

}

.main-content{
	width:95%;
	padding:20px;
	margin:10px auto;
	border:10px solid #1E2019;
	border-left:none;
	border-right: none;
	background-color: #8DAB7F;
}

.main-content h2{
	text-decoration: underline;
	text-align: center;
}

.main-content img{
	/*margin:30px;
	/*padding:20px;*/
	/*width: 50%;
	*/
}

p{
	font-size:20px;
}

.img-50{
	display: block;
	margin:50px auto;
	width:50%;
	box-shadow: 10px 10px 100px 10px #ddf8ff;
}


.img-40{
	display: block;
	margin:10px auto;
	width: 50%;
}

#info1{
	clear: both;
}







